@use "../../global" as g;

.front {
 
  &__hero {
    position: relative;
    width: 100%;
  }

  &__more-btn {
    text-align: center;
    margin-top: 15px;
  }

  // ==========================================================================
  // for sp-tab
  // ==========================================================================
  @include g.screen-sp-tab {
    &__more-btn {
      margin-top: 35px;
    }
  }

  // ==========================================================================
  // for tab-pc
  // ==========================================================================
  @include g.screen-tab-pc {
  }
}