@use "../../global" as g;

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px g.$color-border;
  
  // ==========================================================================
  // for sp-tab
  // ==========================================================================
  @include g.screen-sp-tab {
    width: 100%;
    margin: g.$space-M 0px 0px;
    box-shadow: 1px 1px 15px 0px rgb(0 0 0 /8%);
    border-bottom: unset;
  }

  // ==========================================================================
  // for tab-pc
  // ==========================================================================
  @include g.screen-tab-pc {
    width: 100%;
  }

  // ==========================================================================
  // for FHD
  // ==========================================================================
  @include g.screen-custom(1366px) {
    margin: g.$space-L 0px 0px;
  }
}