@use "../../global" as g;

.main {
  width: 100%;
  flex-grow: 1;

  // ==========================================================================
  // for sp-tab
  // ==========================================================================
  @include g.screen-sp-tab {
  }

  // ==========================================================================
  // for tab-pc
  // ==========================================================================
  @include g.screen-tab-pc {
    width: calc(67% - g.$space-M);
    flex-grow: 1;
    margin-right: g.$space-M;
  }

  // ==========================================================================
  // for FHD
  // ==========================================================================
  @include g.screen-custom(1366px) {
    margin-right: g.$space-L;
  }
}