@use "../../global" as g;

.picture {
  display: block;
  margin: 26px 0px;
  width: 100%;
  height: auto;
  
  // ==========================================================================
  // for sp-tab
  // ==========================================================================
  @include g.screen-sp-tab {
    margin: 28px 0px;
  }

  // ==========================================================================
  // for tab-pc
  // ==========================================================================
  @include g.screen-tab-pc {
  }
}