@use "../../global" as g;

.profile {
  padding: 20px;
  line-height: 1.75;
  background-color: g.$color-base;

  &__avatar {
    margin: 0 auto;
    box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 20%);
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 65%;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar-img {
    width: 100%;
  }

  &__name {
    font-size: 1.525rem;
    opacity: .95;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  &__job {
    font-size: 1.15rem;
    text-align: center;
    opacity: 0.5;
  }

  &__description {
    font-size: 1.4rem;
    padding: 0 5px;
    word-break: break-all;
    margin-top: 10px;
  }

  &__sns {
    padding: 16px 0; 
    color: g.$color-light;
    background: g.$color-accent-light;
    margin-top: 20px;
    border-radius: 3px;
  }

  &__sns-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  
  &__sns-btn {
    display: block;
    width: 165px;
    margin: 10px auto 0 auto;
    padding: 7.5px 0;
    border-radius: 0.5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.18);
  }

  &__sns-icon {
    @extend %icon;
    font-size: 1.8rem;
  }

  &__sns-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7.5px;
    font-size: 1.3rem;
    letter-spacing: 0.02em;
  }
}