@use "../../global" as g;

.side {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__box {
    width: 100%;
    flex-grow: 1; /* メニュー類の横幅フィット */
    order: 1; /* メニュー類を常に最下部に設置 */
  }

  &__box-bottom {
    display: none;
  }

  // ==========================================================================
  // for sp-tab
  // ==========================================================================
  @include g.screen-sp-tab {

    &__box {
      display: flex;
      flex-wrap: wrap;
      order: unset;
      width: 100%;
    }

    &__box-l, &__box-r {
      width: calc(50% - (g.$space-M * 0.5));
    }
    
    &__box-r {
      margin-left: g.$space-M;
    }

    /* tab版では表示しない */
    &__box-tab-none {
      display: none;
    }
  }

  // ==========================================================================
  // for tab-pc
  // ==========================================================================
  @include g.screen-tab-pc {

    display: block;
    max-width: 320px;
    min-width: 290px;
    width: 33%;
  
    &__box-l {
      width: 100%;
    }
    
    &__box-r {
      width: 100%;
      margin-left: unset;
    }
  
    /* 固定追従のため(必ずbox-bottomも一緒に使う) */
    &__box-sticky {
      padding-top: 1px; // がたつきを抑える

      &.--sticky {
        position: fixed;
        top: 0px;
      }
  
      &.--release {
        position: absolute;
        top: unset;
      }
    }
    
    &__box-bottom {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
    }

    &__box-tab-none {
      display: block;
    }

    /* pc版では表示しない */
    &__box-pc-none {
      display: none;
    }
  }

}