@use "../../global" as g;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto calc(g.$space-S * 2);

  // ==========================================================================
  // for sp-tab
  // ==========================================================================
  @include g.screen-sp-tab {
    margin: 0px auto calc(g.$space-M * 2);
    padding: 0px g.$space-M;
  }
  
  // ==========================================================================
  // for tab-pc
  // ==========================================================================
  @include g.screen-tab-pc {
    max-width: calc(var(--wrap-width-24) + (g.$space-M * 2));
  }

  // ==========================================================================
  // for FHD
  // ==========================================================================
  @include g.screen-custom(1366px) {
    margin: 0px auto calc(g.$space-L * 2);
  }
}